body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: rgb(228, 228, 228);
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: rgb(7, 1, 121);
  color: white;
  border-radius: 0;
  border-bottom: 10px solid #06AED5;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.col-2 {
  background-color: rgb(7, 1, 121);
  color: white;
  text-align: center;
  padding: 30px;
  border: 1px solid black;
}

#currentDay {
  text-align: center;
}

#currentTime {
  text-align: center;
}


/*
col-8 {
  height: 80px;
  background-color: lightgray;
  border: 1px solid black
}